.accounts2-container {
  min-height: 100vh;
}
.accounts2-dummy-container {
  width: 100%;
  height: 900px;
}
.accounts2-accounts2 {
  width: 428px;
  height: 926px;
  position: relative;
  border-color: transparent;
}
