.beneficiary6-container {
  min-height: 100vh;
}
.beneficiary6-dummy-container {
  width: 100%;
  height: 900px;
}
.beneficiary6-beneficiary6 {
  width: 428px;
  height: 1049px;
  position: relative;
  border-color: transparent;
}
