.beneficiary1-container {
  min-height: 100vh;
}
.beneficiary1-dummy-container {
  width: 100%;
  height: 900px;
}
.beneficiary1-beneficiary1 {
  width: 428px;
  height: 926px;
  position: relative;
  border-color: transparent;
}
