.beneficiary5-container {
  min-height: 100vh;
}
.beneficiary5-dummy-container {
  width: 100%;
  height: 900px;
}
.beneficiary5-beneficiary5 {
  width: 428px;
  height: 1111px;
  position: relative;
  border-color: transparent;
}
