.beneficiary131-container {
  min-height: 100vh;
}
.beneficiary131-dummy-container {
  width: 100%;
  height: 900px;
}
.beneficiary131-beneficiary13 {
  width: 428px;
  height: 926px;
  position: relative;
  border-color: transparent;
}
