.beneficiary7-container {
  min-height: 100vh;
}
.beneficiary7-dummy-container {
  width: 100%;
  height: 900px;
}
.beneficiary7-beneficiary7 {
  width: 428px;
  height: 1134px;
  position: relative;
  border-color: transparent;
}
