.chief-probation2-container {
  min-height: 100vh;
}
.chief-probation2-dummy-container {
  width: 100%;
  height: 900px;
}
.chief-probation2-chief-probation2 {
  width: 428px;
  height: 1934px;
  position: relative;
  border-color: transparent;
}
