.director2-container {
  min-height: 100vh;
}
.director2-dummy-container {
  width: 100%;
  height: 900px;
}
.director2-director2 {
  width: 428px;
  height: 2291px;
  position: relative;
  border-color: transparent;
}
