.employee31-container {
  min-height: 100vh;
}
.employee31-dummy-container {
  width: 100%;
  height: 900px;
}
.employee31-employee31 {
  width: 428px;
  height: 1474px;
  position: relative;
  border-color: transparent;
}
