.employee21-container {
  min-height: 100vh;
}
.employee21-dummy-container {
  width: 100%;
  height: 900px;
}
.employee21-employee21 {
  width: 428px;
  height: 1196px;
  position: relative;
  border-color: transparent;
}
