.employee7-container {
  min-height: 100vh;
}
.employee7-dummy-container {
  width: 100%;
  height: 900px;
}
.employee7-employee7 {
  width: 428px;
  height: 926px;
  position: relative;
  border-color: transparent;
}
