.employee11-container {
  min-height: 100vh;
}
.employee11-dummy-container {
  width: 100%;
  height: 900px;
}
.employee11-employee11 {
  width: 428px;
  height: 1503px;
  position: relative;
  border-color: transparent;
}
