.g-r-o1-container {
  min-height: 100vh;
}
.g-r-o1-dummy-container {
  width: 100%;
  height: 900px;
}
.g-r-o1-g-r-o1 {
  width: 428px;
  height: 926px;
  position: relative;
  border-color: transparent;
}
