.merchant5-container {
  min-height: 100vh;
}
.merchant5-dummy-container {
  width: 100%;
  height: 900px;
}
.merchant5-merchant5 {
  width: 428px;
  height: 990px;
  position: relative;
  border-color: transparent;
}
