.pensioner-home2-container {
  min-height: 100vh;
}
.pensioner-home2-dummy-container {
  width: 100%;
  height: 900px;
}
.pensioner-home2-pensioner-home2 {
  width: 428px;
  height: 1292px;
  position: relative;
  border-color: transparent;
}
