.pension-history-container {
  min-height: 100vh;
}
.pension-history-dummy-container {
  width: 100%;
  height: 900px;
}
.pension-history-pension-history {
  width: 428px;
  height: 926px;
  position: relative;
  border-color: transparent;
}
