.social-worker2-container {
  min-height: 100vh;
}
.social-worker2-dummy-container {
  width: 100%;
  height: 900px;
}
.social-worker2-social-worker2 {
  width: 428px;
  height: 973px;
  position: relative;
  border-color: transparent;
}
