.social-worker1-container {
  min-height: 100vh;
}
.social-worker1-dummy-container {
  width: 100%;
  height: 900px;
}
.social-worker1-social-worker1 {
  width: 428px;
  height: 926px;
  position: relative;
  border-color: transparent;
}
