.social-worker4-container {
  min-height: 100vh;
}
.social-worker4-dummy-container {
  width: 100%;
  height: 900px;
}
.social-worker4-social-worker4 {
  width: 428px;
  height: 1526px;
  position: relative;
  border-color: transparent;
}
